<div id="genre-list" class="row">
	<div id="playlist-desc" class="col-xs-12">
		<h2 class="km-header">Technical Difficulties</h2>
	</div>
	
	<div class="col-xs-12">
		<div class="error-message">
			<p>Uh-oh! Something broke! The website may be going through maintenance, or you may have been given a faulty link. Return to the home page by clicking <a href="#/">here</a>.</p>
			
			<p>If this problem persists, try e-mailing me at <a href="mailto:benjjcook@gmail.com">benjjcook@gmail.com</a>. It would help to give me a copy of the link at the top of your browser, and any information you have about how to created the error. Thank you!</p>
		</div>
	</div>
</div>